In [4]:
# HIDDEN
#  "nbsphinx": "hidden"

import pandas as pd

marathon_df = pd.read_csv("chicago_results_m4.csv")

# Project: Scrapping marathon results

<html>
<h1 style="color:teal;">Project weight: 6 points</h1>
</html>

The website [results.chicagomarathon.com/well-known/2019/](https://results.chicagomarathon.com/well-known/2019/) contains results of the 2019 Chicago Marathon. Using this website we can get a list of runners, The name of each runner is linked to a webpage with more detailed information about the runner.

## Objectives

Use requests and BeautifulSoup to scrap information about the top 50 male runners. The information you retrieve should include the following data:

* name
* age group
* bib number
* age
* city/state
* split times 

Record this data in a pandas DataFrame and show the DataFrame in the notebook. The format of the resulting DataFrame should be as follows:

In [5]:
marathon_df

,Name (CTZ),Age Group,Bib Number,Age,"City, State",05K,10K,15K,20K,HALF,25K,30K,35K,40K,Finish
0,"Cherono, Lawrence (KEN)",30-34,4,31,Chepkoilel,00:14:45,00:29:28,00:44:11,00:59:01,01:02:15,01:13:57,01:28:59,01:43:54,01:59:10,02:05:45
1,"Debela, Dejene (ETH)",20-24,38,24,West Chester,00:14:45,00:29:29,00:44:12,00:59:02,01:02:16,01:13:56,01:28:59,01:43:53,01:59:08,02:05:46
2,"Mengstu, Asefa (ETH)",30-34,5,31,Addis Ababa,00:14:46,00:29:29,00:44:12,00:59:02,01:02:15,01:13:55,01:28:59,01:43:53,01:59:08,02:05:48
3,"Karoki, Bedan (KEN)",25-29,9,29,Mbuyu,00:14:45,00:29:27,00:44:10,00:59:02,01:02:15,01:13:54,01:28:59,01:43:53,01:59:09,02:05:53

## Notes

* Do not scrap more than 50 runners to limit the usage of the web server hosting the marathon website. 
* Add a delay of 2 seconds between each request sent to the server. 
* This is a programming assignment. There is no required narrative, aside from code documentation and possible notes explaining how your code works. Reports will be graded based on 

    - code correctness and completeness (80%)
    - report organization and code documentation (20%)