In [1]:
# "nbsphinx": "hidden"

import plotly.graph_objects as go
import plotly.io as pio
iframe_c = pio.renderers["iframe_connected"]
iframe_c.html_directory = "../_static/plotly_plot_types/iframe_figures"
pio.renderers.default = "iframe_connected"

pio.templates["sphinx"] = go.layout.Template(
    layout_margin_l = 30,   
    layout_margin_r = 30,
    layout_margin_t = 60,
    layout_margin_b = 30, 
    layout_width = 800
)

pio.templates.default = "plotly+sphinx"

# Plotly Express plot types

Below we show examples plots which can be created using Plotly Express. For the full list of plots and their options see [Plotly Express documentation](https://plotly.com/python-api-reference/plotly.express.html).

Plotly Express provides sample datasets which we will use in all examples.

In [2]:
import plotly.express as px

# load DataFrames with sample data
tips = px.data.tips()
gapminder = px.data.gapminder()

print("\ntips:")
display(tips.head())
print("\ngapminder:")
display(gapminder.head())

tips:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

gapminder:

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

## Scatter plot

In [3]:
fig = px.scatter(tips, 
                 x="total_bill", 
                 y="tip", 
                 color="sex",
                 width=800,   # plot width
                 height=500,  # plot height
                 title = "Scatter plot"
                )
fig.show()

## Line plot

By default Plotly uses DataFrame column names to label plot coordinate axes, title of the legend etc. This can be changed using the `labels` argument. Its value should be a dictionary whose keys are column names, and values are labels we want to use.

In [4]:
# select countries which names start with "A"
ac = gapminder[gapminder["country"].str[0] == "A"]

fig = px.line(ac, 
              x="year", 
              y="gdpPercap", 
              color = "country", 
              labels = {"year" : "Year", # change x-axis label
                        "gdpPercap" : "GDP per capita",  # change y-axis label
                        "country" : "Country name"},  # change legend title
              
              title = "Line plot"
             )
fig.show()

## Bar plot

By default values in a column with categorical data are plotted in the order they are encountered in the DataFrame. In the example below it means that the order of days on the x-axis would not necessarily correspond to the usual ordering of days in a week. We can override this by assigning a dictionary to the `category_orders` argument. Dictionary keys should be column names. The value corresponding to a given column should be a list of values appearing in the column, ordered in the way we want them plotted.

In [5]:
t = tips.groupby(["day", "sex"])["tip"].sum().reset_index()

fig = px.bar(t, 
             x="day", 
             y="tip", 
             color="sex", 
             barmode="group", 
             category_orders = {"day" : ["Thur", "Fri", "Sat", "Sun"]}, # order days on x-axis
             title="Bar plot"
            )
fig.show()

## Strip plot

In [6]:
fig = px.strip(tips, 
               x="day", 
               y="tip", 
               color="sex",
               category_orders = {"day" : ["Thur", "Fri", "Sat", "Sun"]}, # order days on x-axis
               title = "Strip plot"
              )
fig.show()

## Box plot

In [7]:
fig = px.box(tips, 
             x="day", 
             y="total_bill", 
             color="sex", 
             labels = {"total_bill" : "total bill"}, # change label of y-axis
             category_orders = {"day" : ["Thur", "Fri", "Sat", "Sun"]},  # order days on x-axis
             title="Box plot")
fig.show()

## Violin plot

In [8]:
fig = px.violin(tips, 
                x="day", 
                y="total_bill", 
                color="sex", 
                labels = {"total_bill" : "total bill"},  # change label of y-axis
                category_orders = {"day" : ["Thur", "Fri", "Sat", "Sun"]}, # order days on x-axis
                title="Violin plot")

fig.show()

## Histogram plot

Figures produced by Plotly Express can be customized using other Plotly tools. Below we use it to modify a histogram to add a bit of space between its bars (by default all bars would be plotted next to each other).

In [9]:
fig = px.histogram(tips, 
                   x="total_bill",
                   labels = {"total_bill" : "total bill"},
                   title = "Histogram"
                  )

fig.update_layout({"bargap": 0.02})  # add space between bars

fig.show()

## Sunburst plot

In [10]:
fig = px.sunburst(tips, 
                  path=["day", "time", "sex"], 
                  values="total_bill",
                  title="Sunburst plot")
fig.show()

## Marginal plots

Most types of plots have options to include one or two marginal sublots. Below we use it to add a carpet plot on the margin of the x-axis, and a box plot on the margin of the y-axis. Possible types of marginal plots are `"rug"`, `"box"`, `"violin"` and `"histogram"`.

In [11]:
fig = px.scatter(tips,
                 x="total_bill",
                 y="tip",
                 color="sex",
                 marginal_x="rug",  # plot on x-axis margin
                 marginal_y="box",  # plot on y-axis margin
                 title="Scatter plot with margin plots")
fig.show()

## Animated plots

Some types plots can be animated using `animation_frame` and `animation_group` options. See [Plotly documentation](https://plotly.com/python/animations/) for more details.

In [12]:
fig = px.scatter(gapminder,
                 y="lifeExp",
                 x="gdpPercap",
                 color="continent",
                 size="pop",
                 hover_name="country",
                 animation_frame="year",   # values of this column create animation frames
                 animation_group="country",   # values of this colummn specify how to animate markers
                 log_x = True,   # logarithmic scale on the x-axis
                 size_max=60,   # maximum size of markers
                 range_x=[200,60000],   # range of values on the x-axis
                 range_y=[25,90],   # range of values on the y-axis
                 labels = {"gdpPercap" : "GDP per capita",   # change label of x-axis
                           "lifeExp" : "life expectancy", },   # change label of y-axis
                 title="Animated scatter plot")
fig.show()