# Week 12 (4/25-5/1)

## Notebook

- [View online](../_static/weekly_notebooks/week_12_class.html)
- Download the notebook file: [week_12_class.ipynb](../_static/weekly_notebooks/week_12_class.ipynb)

## Weekly digest

.. toctree::
   :maxdepth: 1

   ../Digests/digest_12

## Text classification with Naive Bayes

* Text processing
* Naive Bayes classification
* Laplace smoothing
* Word clouds

## Project 

* [Text with naive Bayes](../Projects/text_with_naive_bayes/text_with_naive_bayes.ipynb)

## Resources

### 1. Word counts

:download:`word_counts.csv <word_counts.csv>`

### 2. Stop words

:download:`stopwords.txt <stopwords.txt>`

## Exercises

### Exercise 1

Use the file  :download:`movie_reviews.zip <./movie_reviews.zip>` to create a dataframe with two columns "positive" and "negative". Rows of the dataframe should be labeled by words appearing in the text of the reviews. The entries of a row should show how many times the given word appears in the text of negative reviews and how many times it appears in positive reviews. 

**Note:**

1. A word is a sequence consisting of letters and possibly the apostrophe. Thus `hello` and `don't` are words. 
2. Capitalization of words should be ignored. That is, we consider `hello`, `Hello` and `HELLO` as the same word.

In [42]:
#  "nbsphinx": "hidden"
from collections import Counter
import re
from sklearn.model_selection import train_test_split
import pandas as pd


movies = pd.read_csv('movie_reviews.zip')
train_df, test_df = train_test_split(movies, test_size=0.5, random_state=1)
grouped = train_df.groupby(by='sentiment')['review'].sum()

words = {}
for k in grouped.index:
    words[k] = Counter(re.findall(r"[a-z]+", grouped[k].replace("<br />", "").lower()))
word_counts = pd.DataFrame(words).fillna(0).astype(int)
word_counts.to_csv("word_counts.csv")

           negative  positive
this          20294     17756
show           1390      1791
proved           49        76
to            34325     33630
be             7241      6262
...             ...       ...
virginny          0         2
seeping           0         1
lode              0         2
spooner           0         1
stirrings         0         1

[56367 rows x 2 columns]

In [43]:
word_counts.head(10)

          negative  positive
this         20294     17756
show          1390      1791
proved          49        76
to           34325     33630
be            7241      6262
a            39146     42334
waste          674        50
of           34273     38891
minutes       1099       426
precious        27        24

### Exercise 2

Write a function `rev_probs()` which takes as its argument text of a review and returns logarithm of probabilities that the review is positive and negative based on the training data. The function should use naive Bayes with Laplace smoothing to compute the probabilities.

**Example:**

In [22]:
# sample review

review = """I saw this recent Woody Allen film because I\'m a fan of 
his work and I make it a point to try to see everything he does, though 
the reviews of this film led me to expect a disappointing effort. They were right. 
This is a confused movie that can\'t decide whether it wants to be a comedy, 
a romantic fantasy, or a drama about female mid-life crisis. It fails at all three.
<br /><br />Alice (Mia Farrow) is a restless middle aged woman who has married into 
great wealth and leads a life of aimless luxury with her rather boring husband and 
their two small children. This rather mundane plot concept is livened up with such 
implausibilities as an old Chinese folk healer who makes her invisible with some magic 
herbs, and the ghost of a former lover (with whom she flies over Manhattan). If these 
additions sound too fantastic for you, how about something more prosaic, like an affair 
with a saxophone player?<br /><br />I was never quite sure of what this mixed up muddle 
was trying to say. There are only a handful of truly funny moments in the film, 
and the endingis a really preposterous touch of Pollyanna.<br /><br />Rent \'Crimes and 
Misdemeanors\' instead, a superbly well-done film that suceeds in combining comedy with 
a serious consideration of ethics and morals. Or go back to "Annie Hall" or "Manhattan"."""

In [38]:
#  "nbsphinx": "hidden"
from sklearn.model_selection import train_test_split
import pandas as pd
import re
import numpy as np

movies = pd.read_csv('movie_reviews.zip')
train_df, test_df = train_test_split(movies, test_size=0.5, random_state=1)

wc = word_counts + 1

with open("stopwords.txt") as f:
    stops = f.read().split(",")
wc = wc.drop(stops, errors="ignore")

class_probs = train_df["sentiment"].value_counts()/len(train_df)

log_wc = np.log10(wc/wc.sum())

def rev_probs(rev):
    words = [w for w in re.findall(r"[a-z']+", rev.replace("<br />", "").lower()) if w in log_wc.index]
    return sum([log_wc.loc[w] for w in words]) + np.log10(class_probs)

In [39]:
rev_probs(review)

negative   -427.788529
positive   -429.078611
dtype: float64