In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## Table scrapping with `pandas`

In [19]:
url = "http://www.buffalo.edu/class-schedule?switch=showcourses&semester=spring&division=1&dept=MTH"

In [20]:
tables = pd.read_html(url)
tables[4]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',...,Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics',Courses for 'Mathematics'
2,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,...,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses,291 Courses
3,Class,Course,Title,Section,Type,Days,Time,Room,Location,Instructor (*) additional instructors,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14008,MTH 120LEC,Selected Calculus Topics,000,LEC,TBA,TBA,ARR,North Campus,"Casper, M J",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,10932,MTH 499TUT,Independent Study,SPE,TUT,TBA,TBA,ARR,North Campus,"Spencer, B J",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,20780,MTH 499TUT,Independent Study,TAY,TUT,TBA,TBA,ARR,North Campus,"Taylor, D",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,10567,MTH 499TUT,Independent Study,XIA,TUT,TBA,TBA,ARR,North Campus,"Xia, J",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,10486,MTH 499TUT,Independent Study,ZHA,TUT,TBA,TBA,ARR,North Campus,"Zhang, X",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,10499,MTH 499TUT,Independent Study,ZHU,TUT,TBA,TBA,ARR,North Campus,"Zhu, H J",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Table scrapping with Beautiful Soup

In [21]:
page = requests.get(url).text

In [31]:
soup = BeautifulSoup(page)
tables = soup.find_all('table')
course_table = tables[5]
rows =  course_table.find_all("tr")

data = []
for row in rows[4:]:
    d = [s.get_text().strip() for s in row.find_all("td")]
    if "Class" not in d[0]:
        link = "" if row.find("a") is None else row.find("a")['href']
        d.append(link)
        data.append(d)
headers = list(rows[3].stripped_strings)
headers.append("Link")

df = pd.DataFrame(data, columns = headers)
df

,Class,Course,Title,Section,Type,Days,Time,Room,Location,Instructor (*) additional instructors,Status,Link
0,14008,MTH 120LEC,Selected Calculus Topics,000,LEC,TBA,TBA,ARR,North Campus,"Casper, M J",Open w/ Reserves,http://www.buffalo.edu/class-schedule?switch=s...
1,<<< >>>,MTH 121LR,Surv Calculus & Appl 1,A,LEC,M W F,8:00 AM - 8:50 AM,Talbrt 115,North Campus,"Jones, R P",Open,http://www.buffalo.edu/class-schedule?switch=s...
2,19056,MTH 121LR,Surv Calculus & Appl 1,A1,REC,M,1:00 PM - 1:50 PM,Clemen 202,North Campus,"Liu, Y",Open,http://www.buffalo.edu/class-schedule?switch=s...
3,19057,MTH 121LR,Surv Calculus & Appl 1,A2,REC,W,1:00 PM - 1:50 PM,Park 440,North Campus,"Liu, Y",Open,http://www.buffalo.edu/class-schedule?switch=s...
4,<<< >>>,MTH 121LR,Surv Calculus & Appl 1,E,LEC,M W F,12:00 PM - 12:50 PM,Norton 218,North Campus,"Jones, R P",Open,http://www.buffalo.edu/class-schedule?switch=s...
...,...,...,...,...,...,...,...,...,...,...,...,...
286,10932,MTH 499TUT,Independent Study,SPE,TUT,TBA,TBA,ARR,North Campus,"Spencer, B J",Open w/ Reserves,http://www.buffalo.edu/class-schedule?switch=s...
287,20780,MTH 499TUT,Independent Study,TAY,TUT,TBA,TBA,ARR,North Campus,"Taylor, D",Open w/ Reserves,http://www.buffalo.edu/class-schedule?switch=s...
288,10567,MTH 499TUT,Independent Study,XIA,TUT,TBA,TBA,ARR,North Campus,"Xia, J",Open w/ Reserves,http://www.buffalo.edu/class-schedule?switch=s...
289,10486,MTH 499TUT,Independent Study,ZHA,TUT,TBA,TBA,ARR,North Campus,"Zhang, X",Open w/ Reserves,http://www.buffalo.edu/class-schedule?switch=s...
290,10499,MTH 499TUT,Independent Study,ZHU,TUT,TBA,TBA,ARR,North Campus,"Zhu, H J",Open w/ Reserves,http://www.buffalo.edu/class-schedule?switch=s...

In [34]:
df['Link'][10]

'http://www.buffalo.edu/class-schedule?switch=showclass&semester=spring&division=UGRD&dept=MTH&regnum=18484'

Add interactive links:

In [51]:
def make_clickable(val):
    # target _blank to open new window
    return '<a target="_blank" href="{}">{}</a>'.format(val, val.replace("&", "&amp;"))

df.iloc[:10].style.format({'Link': make_clickable})

## Searching for enrollment information

In [25]:
def get_enrollment(url):
    s = BeautifulSoup(requests.get(url).text)
    cap =  [td for td in s.find_all('td') if "Enrollment Capacity:" in td.get_text()][0].find_next('td')
    tot =  [td for td in s.find_all('td') if "Enrollment Total:" in td.get_text()][0].find_next('td')
    cap = int(cap.get_text())
    tot = int(tot.get_text())
    return cap, tot

In [46]:
for i in range(5):
    display(df.iloc[i:i+1])
    print(get_enrollment(df['Link'][i]))

,Class,Course,Title,Section,Type,Days,Time,Room,Location,Instructor (*) additional instructors,Status,Link
0,14008,MTH 120LEC,Selected Calculus Topics,000,LEC,TBA,TBA,ARR,North Campus,"Casper, M J",Open w/ Reserves,http://www.buffalo.edu/class-schedule?switch=s...

(30, 6)

,Class,Course,Title,Section,Type,Days,Time,Room,Location,Instructor (*) additional instructors,Status,Link
1,<<< >>>,MTH 121LR,Surv Calculus & Appl 1,A,LEC,M W F,8:00 AM - 8:50 AM,Talbrt 115,North Campus,"Jones, R P",Open,http://www.buffalo.edu/class-schedule?switch=s...

(60, 21)

,Class,Course,Title,Section,Type,Days,Time,Room,Location,Instructor (*) additional instructors,Status,Link
2,19056,MTH 121LR,Surv Calculus & Appl 1,A1,REC,M,1:00 PM - 1:50 PM,Clemen 202,North Campus,"Liu, Y",Open,http://www.buffalo.edu/class-schedule?switch=s...

(30, 9)

,Class,Course,Title,Section,Type,Days,Time,Room,Location,Instructor (*) additional instructors,Status,Link
3,19057,MTH 121LR,Surv Calculus & Appl 1,A2,REC,W,1:00 PM - 1:50 PM,Park 440,North Campus,"Liu, Y",Open,http://www.buffalo.edu/class-schedule?switch=s...

(30, 12)

,Class,Course,Title,Section,Type,Days,Time,Room,Location,Instructor (*) additional instructors,Status,Link
4,<<< >>>,MTH 121LR,Surv Calculus & Appl 1,E,LEC,M W F,12:00 PM - 12:50 PM,Norton 218,North Campus,"Jones, R P",Open,http://www.buffalo.edu/class-schedule?switch=s...

(60, 58)