# Optional Project: Music database

<html>
<h1 style="color:teal;">Project weight: 5 points</h1>
</html>

**This is an optional project. Your grade will not go down regardless if you complete it or not, but it may go up.** More precisely, the cumulative grade from the project reports will be computed in two ways:   

- as the average of all eight projects (including this one)
- as an average of the first seven projects (excluding this one).

Then the higher of these two averages will be used toward the final course grade.

In [3]:
import pandas as pd 
pd.set_option('display.precision', 2)

def show_results(ex):
    df = pd.read_csv(f"{ex}.csv")
    display(df.style.hide(axis='index'))

## Objectives

Download the following SQLite file, which contains a database of music recordings:

| :download:`music_data.sqlite <./music_data.sqlite>`

[Here](music_data_diagram.pdf) is a pdf file showing the structure of this database: tables it consists of and names of columns in each table.

Use SQL queries to solve exercises given below.

### Notes. 

1. For illustration, each exercise shows the first five rows of the results you should obtain. Your answers should not be limited to just 5 results - show either all results or the number specified in the statement of an exercise.  

2. Your solutions must be obtained with SQL only, using the `%%sql` magic. You must not use pandas etc. 

3. This is a programming assignment. Your work will be graded primarily based on the results of the code, and also on the code documentation and report organization. You don't need to include a narrative.

### Exercise 1

Create a table with names of all tracks where the composer is Miles Davis. Track names should be listed in the alphabetical order.

In [14]:
show_results("ex1")

### Exercise 2

Create a table that lists titles and composers for all tracks where the name of the composer includes  "Clapton". Order the table in the alphabetical order of track titles.

In [15]:
show_results("ex2")

### Exercise 3

Create a table with the album title, the album artist, and the number of tracks in the album. 
Display 10 rows of this table with most tracks, ordered in the descending order of the number of tracks.

In [16]:
show_results("ex3")

### Exercise 4
Create a table listing the album title, the name of the artist and the total length of the album in minutes for each album whose total length is more than 90 minutes. Order the table according to album lengths in the descending order. 

**Note.** The `tracks` table lists lengths of tracks in milliseconds. One second is equal to 1000 milliseconds.

In [17]:
show_results("ex4")

### Exercise  5

Create a table listing AlbumId and the title of each album that has at least one track in the "Jazz" genre. Order album titles alphabetically.

In [18]:
show_results("ex5")

### Exercise 6

Create a table which lists AlbumId, the album title and the price of 10 most expensive albums. The price of an album is the sum of prices of all its tracks. Order the list from the highest album price to the lowest.

In [19]:
show_results("ex6")

### Exercise 7

Create a table that lists AlbumId and the title of each album which consist of exactly 10 tracks. Order the table in the alphabetical order of album titles.

In [20]:
show_results("ex7")

### Exercise 8

Create a table with two columns: one, called NumTracks listing the number of tracks in an album, and the second called NumAlbums which shows how many albums have such number of tracks. Order the table in the ascending order of NumTracks.

In [21]:
show_results("ex8")

### Exercise 9

Create a table which has one row for each album, listing the longest track of the album. The columns should be 
AlbumId, album title, TrackId, track title, and track time in milliseconds. Order the table according to track times in the descending order and display the first 10 rows.

In [22]:
show_results("ex9")

### Exercise 10

Every track in the `tracks` table corresponds to one genre, but an album may consist of tracks of various genres. 

Create a table showing AlbumId, the album title, and the number of distinct track genres for all albums which have more than one genre. Order the list in the alphabetical order of album titles.

In [23]:
show_results("ex10")