# Project: Music database

<html>
<h1 style="color:teal;">Extra credit</h1>
</html>

You are not required to complete this project. If you do, the grade from this project will replace the lowest grade from the other projects you completed in this course.

In [7]:
import pandas as pd 
pd.set_option('precision', 2)

def show_results(ex):
    df = pd.read_csv(f"{ex}.csv")
    display(df.style.hide_index())

### Exercise 1

Create a table with names of all tracks where the composer is Miles Davis. Tack namea should be in the alphabetical order.

In [7]:
show_results("ex1")

### Exercise 2

Create a table which lists names and composers for all tracks where the name of the composer includes  "Clapton". Order the table in the alphabetical order of track names.

In [8]:
show_results("ex2")

### Exercise 3

Create a table with album title, album artist, and the number of tracks in the album. 
Display 10 rows of this table with most tracks, ordered in the descending order of the number of tracks.

In [9]:
show_results("ex3")

### Exercise 4
Create a table listing album title, name of the artist and the total length of the album in minutes for each album whose total length is more than 90 minutes. Order the table according to album lengths in the descending order.

In [10]:
show_results("ex4")

### Exercise  5

Create a table listing AlbumId and title of each albums which has at least one track in the "Jazz" genre. Order the album titles alphabetically.

In [11]:
show_results("ex5")

### Exercise 6

Create a table which lists AlbumId, album title and price of 10 most expensive albums. The price of an album is the sum of prices of all its tracks. Order the list from the highest album price to the lowest.

In [8]:
show_results("ex6")

### Exercise 7

Create a table that lists AlbumId and title of each album which consist of exactly 10 tracks.

In [9]:
show_results("ex7")

### Exercise 8

Create a table with two columns: one, called NumTracks listing the number of tracks in an album, and the second called NumAlbums which shows how many albums have such number of tracks. Order the table in the ascending order of NumTracks.

In [12]:
show_results("ex8")

### Exercise 9

Create a table which has one row for each album, listing the longest track of the album. The columns should list 
AlbumId, album title, TrackId, track title, and track time in milliseconds. Order the table according to times in the descending order and display the first 10 rows.

In [11]:
show_results("ex9")